@model IEnumerable<WebApp1.Models.Productsoort>

 
   <head>
<link rel="stylesheet" href="~/css/interactiveImg.css">
   </head>

 
<div class="container" id="containerDiv">
    <h4>Hi there.. Here u 'll find the interactive IMG</h4>
    <div class="imgContainer ">
        <div class="top position">
             <img class="top" src="~/images/ApiModels.jpg">
        </div>
        <div class="bottom position">
      
        @foreach (var soort in Model)
        {
           <article class="wrapper" >
            <a href="@Url.Action("child","interactiveImg", new{id=@soort.Id})">
            <h4 style="background : red">@soort.Naam</h4>
           
            </a>
           <!-- <img  src="~/images/products/@soort." /> -->
           </article>
           
        }
    </div>
    </div>
</div>

