@model UserManagementAddRole


<link rel="stylesheet" href="~/css/product_creation_generic.css">

<div class="pageRoot">
    <h3>Add Role For @Model.Email</h3>
    <hr>
    <br>
    <div asp-validation-summary="All"></div>
    <form asp-controller="UserManagement" asp-action="AddRole">
        <input asp-for="UserId" type="hidden" />
        <select asp-for="NewRole" asp-items="Model.Roles"></select>
        <input type="submit" value="Add Role" />
    </form>
</div>