@using Microsoft.AspNetCore.Identity;
@model UserManagementIndex
@inject UserManager<Users> userManager

<link rel="stylesheet" href="~/css/product_creation_generic.css">
<div class="pageRoot">
    <h2>User Management</h2>
    <hr>
    <br>
    <table>
        <thead>
        <tr>
            <th>Email</th>
            <th>Roles</th>
            <th>Options</th>
            <th>Update</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@(string.Join(",", await userManager.GetRolesAsync(user)))</td>
                <td><a asp-controller="UserManagement" asp-action="AddRole" asp-route-id="@user.Id">Add Role</a></td>
                <td><a asp-controller="UserManagement" asp-action="updateInfo" asp-route-id="@user.Id">Update</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>

<style>
    tbody {
        margin-top: 10px;
    }
    table {
        width: 100%;
    }
</style>