
@{
    ViewData["Title"] = "Gebruikers beheer";
}

<link rel="stylesheet" href="~/css/product_creation_generic.css">
<link rel="stylesheet" href="~/css/shopping_cart.css">
<div class="pageRoot" style="margin-left: 20%; margin-right: 20%;">
    <h2>Gebruikers Beheer</h2>
    <hr>
    Op deze pagina kunt u alle geregistreerde gebruikers zien. Voor elk gebruiker kunt u administratieve acties uit voeren.<br>
    <br>
    <table id="table">
        <thead>
        <tr>
            <th>
                <input id="filterId" type="text" class="form-control" placeholder="Filteren bij ID">
            </th>
            <th>
                <input id="filterEmail" type="text" class="form-control" placeholder="Filteren bij E-Mail">
            </th>
            <th>
                <input id="filterRole" type="text" class="form-control" placeholder="Filteren bij Rollen">
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Rollen</th>
            <th>Opties</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>
    <ul id="pagination" class="pagination flex-wrap" style="margin-top: 10px;">
    </ul>
    <div id="popover-content" style="display: none;">
    </div>
</div>


<script type="module" src="~/js/loadUsers.js"></script>