@model UserEdit

<link rel="stylesheet" href="~/css/product_creation_generic.css">
<div class="pageRoot">

     <form asp-action="ResetUserPassword" method="post">
            <h4>Update user Password</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="UserId" type="hidden" />
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
             <input type="submit" class="btn btn-success" value="Reset Password" />
     </form>

</div>