@model WebApp1.Models.Productwaarde

@{
    ViewData["Title"] = "Bevestiging";
}
<link rel="stylesheet" href="~/css/product_creation_generic.css">
<div class="pageRoot">
    <h2>Product verwijderen</h2>
    <hr>
    <h4>Weet u zeker dat u dit product wilt verwijderen?</h4>
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Product Naam:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
        </dl>
    
        <form asp-action="DeleteProduct" asp-controller="ProductList">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index" asp-controller="ProductList">Terug naar lijst</a>
        </form>
    </div>
</div>