@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/edit_product.css">


<div class="pageRoot"> 
<h2>Mijn Profiel</h2>

<div>
    <h4>Verander uw account instellingen</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
