@model WebApp1.Models.Productsoort

@{
    ViewData["Title"] = "Bevestiging";
}
<link rel="stylesheet" href="~/css/product_creation_generic.css">
<div class="pageRoot">
    <h2>Categorie verwijderen</h2>
    <hr>
    <h4>Weet u zeker dat u deze categorie wilt verwijderen?</h4>
    <div>
        <h4>Categorie</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Categorie Naam:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Naam)
            </dd>
        </dl>
    
        <form asp-action="DeleteCategory" asp-controller="CategoryList">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index" asp-controller="CategoryList">Terug naar lijst</a>
        </form>
    </div>
</div>