

@{
    ViewData["Title"] = "About";
}



<link rel="stylesheet" href="~/css/product_creation_generic.css">
<div class="pageRoot">
    <div >
        <p>Use this area to provide additional information.</p>
    </div>
</div>