@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager
      
<link rel="stylesheet" href="~/css/shopping_cart.css">

<div class="pageRoot">
    <h3 id="InlogTitle">U bent nog niet ingelogd... </h3>
    <h4>Bent u een bestaande klant?</h4>
    <p><a  href="/Identity/Account/Login">Log hier in.</a></p>
    <hr id="BreakMargin">
    <h4>Nog geen account?</h4>
    <p>
    <a  href="/Identity/Account/Register">Maak een nieuw account!</a>
    </p>
    <hr id="BreakMargin">
    <h4>Doorgaan zonder klant te worden?</h4>
     <button  class="btn btn-primary" value="Doorgaan"  onclick="location.href='@Url.Action("sendOrderMail", "cart")'" >
         Doorgaan</button>
</div>