<link rel="stylesheet" href="~/css/shopping_cart.css">
<div class="pageRoot">
    <h3>Checkout</h3>
    <hr>
    The total is: @ViewBag.total
    <br><br>
    <form action="@Url.Action("pay", "cart")">
        <button type="submit" class="btn btn-default">pay</button>
    </form>
</div>