<link rel="stylesheet" href="~/css/shopping_cart.css">
<div class="pageRoot">
    <h3>Checkout</h3>
    <hr>
    Hier is een overzicht van de bestelling.<br></br>
    Het totale bedrag is: <strong>€ @ViewBag.total</strong>
    <br><br>
    <strong>Om te kunnen betalen hebben we uw bankgegevens nodig!</strong><br>
    Betaalmethode: 
    <select class="form-control" style="width: 50%">
        <option>iDEAL</option>
        <option>PayPal</option>
        <option>Paysafe Card</option>
    </select>
    <br><br>
    <form >
        <input type="submit" class="btn btn-primary" value="Betalen" asp-controller="cart" asp-action="userLoginCheck">

        <button formaction="@Url.Action("Index", "Cart")" type="submit" class="btn btn-default">Terug</button>
    </form>
</div>