<link rel="stylesheet" href="~/css/shopping_cart.css">
<div class="pageRoot">
    <h3>Checkout</h3>
    <hr><
    The total is: @ViewBag.total
    <br>
    <a asp-controller="cart" asp-action="pay">pay</a>
</div>