<link rel="stylesheet" href="~/css/shopping_cart.css">
<div class="pageRoot">
    <h2>Jouw winkelmand</h2>
    <hr>
    Je winkelmand is momenteel leeg. Bekijk de <a asp-controller="Home" asp-action="index">Product pagina</a> voor producten.
</div>