<link rel="stylesheet" href="~/css/shopping_cart.css">
<div class="pageRoot">
    <h2>Your Shopping Cart</h2>
    <hr>
    Your shopping cart is empty! checkout the <a asp-controller="Home" asp-action="index">Home page</a> for products.
</div>