<link rel="stylesheet" href="~/css/product_creation_generic.css">
<link rel="stylesheet" href="~/css/favorites.css">
<div class="pageRoot">
    <h2>Jouw vorige Bestellingen</h2>
    <table class="table">
        <thead>
        <tr>
            <th>
                Product Naam
            </th>
            <th>
                Product Prijs
            </th>
            <th>
                Product Kwantiteit
            </th>
            <th>
                Product Foto
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (BesteldeItem item in ViewBag.besteldeItem)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                   <img src="~/images/products/@item.Image" width="60" id="productImage"><img/>
                </td>
            </tr>               
        }
        </tbody>
    </table>
</div>
