<link rel="stylesheet" href="~/css/shopping_cart.css">
<div class="pageRoot">
    <h2>Order confirmed!</h2>
    <hr>
    You will recieve an email with confirmation of your order!
    <br>
    <a asp-controller="Home" asp-action="index">Home</a>
</div>