@model WebApp1.Models.SubscribeModel
<link rel="stylesheet" href="~/css/shopping_cart.css">
<div class="pageRoot">
@using (Html.BeginForm("EmailOrder", "Cart", FormMethod.Post))
{
   
    <h2>u bent niet ingelogd, voer uw e-mailadres in om een bevestiging te ontvangen!</h2>
    <hr>
    @Html.TextBoxFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
    <input type="submit" class="btn btn-primary" value="Doorgaan" asp-controller="cart" asp-action="pay">
}
</div>
