@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<link rel="stylesheet" href="~/css/edit_product.css">


<div class="pageRoot"> 
<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Bedankt voor de bevestiging.
    </p>
</div>
</div>