@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bevestiging wachtwoord vergeten";
}


<link rel="stylesheet" href="~/css/edit_product.css">

<div class="pageRoot"> 
<h2>@ViewData["Title"]</h2>
<p>
    Ga naar je mail om je wachtwoord te resetten.
</p>
</div>
