div.pageRoot {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
}

img.productImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 3px;
    max-width: 300px;
    max-height: 200px;
}

#productContent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#desc {
    margin-top: 20px;
}


