.category{
	width: 50px;
	height: 50px;
}

/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
	visibility: hidden;
	min-width: 200px;
	background-color: lightblue;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	top: 125%;
	left: 50%;
	margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
	content: "";
	position: relative;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
	margin-right: 50px;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  }

/* dropdown in popup */
/* .sel {
    color:white;
    width: 160px;
    min-height: 40px;
    box-sizing: border-box;
    background-color: #55E6FA;
    overflow: hidden;
}
.txt {
    padding: 10px;
}
.selected {
    background-color: #31A9B9;
}
.hide {
    display: none;
}
.sel .options {
    width: 250px;
    background-color: #66f7FB;
}
.sel .options div {
    transition: all 0.2s ease-out;
    padding: 10px;
}
.sel .options div:hover {
    background-color: #31A9B9;
}

.dropdown-submenu {
	position: relative;
  }
  
.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -1px;
} */


/* dropdown */

li > ul {
	display: none;
  }

  li:hover > ul {
	display: block;
}

#menu{
	padding-right: 50px;
	
	
}
.imageDropdown{
	padding: 10px;
	
}

.aColor{
	background-color: blue;
	padding-left: 50px;
	padding-right: 50px;
}

/* .imageDropdownUl{
	
	
} */

#cat0{
	z-index: 1;
	position: relative;
	right: 600px;
}

#cat1{
	z-index: 1;
	position: relative;
	right: 300px;
}

.category{
	border-radius: 50%;
}

.vessel{
	
}
