body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

nav.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#registerLink {
    margin-left: 10px;
}

#accountLinks {
    margin-left: 10px;
}

#alertbericht{
    position: static;
    background-color: whitesmoke;
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#bericht1{
    position: relative;
    text-align: start;
    color: black;
    float: left;
    margin-right: 220px;
    
}
#bericht2{
    position: relative;
    text-align: center;
    color: black;
    float: left;
    
}
#bericht3{
    position: relative;
    text-align: end;
    color: black;


}

#websitelogo{
    height: 50px;
    width: 60px;
}