#productsArea {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 0%;
    margin-bottom: 5%;
}

div.card {
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.card:hover {
    box-shadow: 0 4px 8px 0 rgba(255,165,0, 0.2), 0 6px 20px 0 rgba(255,165,0, 0.5);
    transition: 0.3s;
}

#productImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 5px;
    height: 200px;
    max-width: 300px;
}

/* REGION: Category */
#categoryArea {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 5%;
}

#container1 {
    margin-top: 15px;
    background-color: rgba(240,240,240,255);
    border-radius: 4px;
    padding: 10px;
}

div.categoryTitle {
    text-align: center;
    font-size: 30px;
}

#btnSelectCategory {
    display: block;
    margin: 0 auto;
}

#categoryBtn {
    width: 100%;
    background-color: rgba(240,240,240,255);
    border: 1px dotted;
    border-bottom-color: rgba(210, 210, 210, 255);
    border-right-color: rgba(240,240,240,255);
    border-left-color: rgba(240,240,240,255);
    padding-top: 5px;
    padding-bottom: 5px;
}

#categoryBtnLast {
    width: 100%;
    background-color: rgba(240,240,240,255);
    border: 1px dotted rgba(0, 0, 0, 255);
    border-right-color: rgba(240, 240, 240, 255);
    border-left-color: rgba(240, 240, 240, 255);
    padding-top: 5px;
    padding-bottom: 5px;
}

#categoryBtn:hover, #categoryBtnLast:hover {
    background-color: rgba(190,190,190,255);
    transition: 0.2s;
}

button.categoryBtnSelected {
    background-color: rgba(190,190,190,255) !important;
}