h2 {
    text-align: center;
}

img.productImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.pageBackground {
    background-color: #ffffff;
    border-radius: 3px;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.col-6 {
    padding: 25px 25px 25px 25px;
}

button.CartBtn {
    background-color: rgba(65,105,225,255);
    border-radius: 5px;
    color: white;
    width: 150px;
    height: 45px;
    font-size: 14px;
    margin-top: 25%;
    border-style: solid;
}
button.CartBtn:hover {
    background-color: rgba(0,0,139,255);
    transition: 0.2s;
    border: none;
}

#category, #price {
    font-size: 30px;
    color: #2e6da4;
}

#price {
    margin-top: 75px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(10, 10, 10, 10.75), rgba(0, 0, 0, 0));
}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(65,105,225,255);
    color: white;
}

#tableContainer {
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

h3 {
    font-size: 20px;
    text-align: center;
}