<link rel="stylesheet" href="~/css/interactiveimage.css">
<link rel="stylesheet" href="~/css/mainpage.css">
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="section">
  <h1>Bestellen & Leveren</h1>
  <br>
  <h2 style="margin:10px;">Bestellen via de website</h2>
  <h3 style="color:red; margin:10px;">Op werkdagen voor 22.00 uur online besteld, de volgende dag in huis!</h3>
  <br>
  <p class="footerP">

    Bij bestellen via de website heeft u altijd de keuze om uw bestelling te laten verzenden of om deze af te halen. Bestellen via de website betekent dus niet automatisch dat uw bestelling verzonden wordt.
    <br>
    
    Bij alle artikelen staat een winkelmandje afgebeeld. Indien u hierop klikt voegt u het betreffende artikel toe aan uw winkelmandje. Er wordt een venster geopend, waarin u een overzicht te zien krijgt van de door u toegevoegde artikelen. In dit overzicht kunt u opgeven hoeveel artikelen u wilt hebben. Vervolgens kunt u verder winkelen en elk gewenst artikel op dezelfde wijze toevoegen aan uw winkelmandje.
  </p>

  <br>
  <h2 style="margin:10px;">Orderontvangstbevestiging</h2>
  <p class="footerP">
    Na het plaatsen van een bestelling via de website ontvangt u een orderontvangstbevestiging. Dit betekent dat wij uw bestelling ontvangen hebben. Nadat uw bestelling door ons is gecontroleerd en in behandeling is genomen ontvangt u een orderbevestiging.  
  </p>
</div>