<link rel="stylesheet" href="~/css/interactiveimage.css">
<link rel="stylesheet" href="~/css/mainpage.css">
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="section">
  <h1>De voordelen van Banana Boat</h1>
  <br>
  <h2 style="margin:10px">Kies het bezorgmoment dat jou uitkomt</h2>
  <p class="footerP">
    Werp een blik op je kalender. Laat je bestelling bezorgen op een datum die jou het beste uitkomt.
  </p>
  <br>
  <h2 style="margin:10px">Avondbezorging</h2>
  <p class="footerP">
    Van maandag t/m vrijdag bezorgen we tussen 18:00 en 22:00 uur, als je de dag ervoor bestelt.
  </p>
  <br>
  <h2 style="margin:10px">Zondagbezorging</h2>
  <p class="footerP">
    Bezorgen op zondag. Komt zondag jou het beste uit om je pakketje in ontvangst te nemen? Dat kan ook.
  </p>

</div>