@model WebApp1.Models.EditproductsoortModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Product soort bewerken";
}

<link rel="stylesheet" href="~/css/product_creation_generic.css">

<div class="pageRoot">
    <h4>Productsoort bewerken</h4>
    <hr />
    <h4>Kies een productsoort om te bewerken</h4>
    <div class="row">
        <div class="col-md-4">
            <p style="background-color:Tomato;">@ViewData["message"] </p>  
            <form asp-action="ChooseProductsoort">
                 @for (var a = 0; a < Model.productsoorts.Count; a++)
                    {
                        <div class="form-group">
                        <input type="radio" asp-for="@Model.productsoort" value = "@Model.productsoorts[a].Naam"> @Model.productsoorts[a].Naam
                        </div>
                    }
                <div class="form-group">
                    <input type="submit"  value="Bewerk geselecteerde product soort" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Create">Terug naar categorie aanmaken</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
