@using WebApp1.CreateproductModel
@model WebApp1.CreateproductModel.CreateproductModel

@using Microsoft.AspNetCore.Http


<link rel="stylesheet" href="~/css/product_creation_generic.css">
 
<div class="pageRoot">
    <h2>Create</h2>

    <h4>Products</h4>
    <hr />

   
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create3" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" placeholder="Title"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" placeholder="Price"/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" placeholder="Quantity"/>
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    
                    <input asp-for="ProductsoortId" class="form-control" placeholder="ProductsoortId" type="hidden"  value= '@Model.GetAttribuutsoortsA()' />
                    <span asp-validation-for="ProductsoortId" class="text-danger"></span>
                     <input asp-for="DiscountedPrice" class="form-control" placeholder="ProductsoortId" type="hidden"  value= "-1" />
                    <span asp-validation-for="DiscountedPrice" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for=" Description" class="form-control" placeholder="Description"/>
                    <span asp-validation-for=" Description" class="text-danger"></span>
                </div>

                 <div class="form-group">
                <input asp-for="Image" type="file" Class="form-control" placeholder="Image"/>
                <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                @{var i = 0;}
                 @foreach (var item in Model.Attribuutsoorts)
                    {
                    
                    <div class="form-group">
                        <label class="control-label">@item.Attrbuut</label>
                        <input type="text"  class="form-control" name='Attribuutwaarde[@i].waarde'/>
                    </div>

                    <div class="form-group">
                        <input type="hidden"  class="form-control" name='Attribuutwaarde[@i].AttribuutsoortId' value='@item.Id'/>
                    </div>
                    i = i +1;
                    }
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
                
            
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}